In [51]:
import pandas as pd
import requests
import json

In [52]:
geojson_path = "data/shipwrecks/ShipwrecksWAM_002.geojson"

In [53]:
f = open(geojson_path)
data = json.load(f)
raw_ship = pd.json_normalize(data['features'])

In [57]:
ship_locations = pd.DataFrame(raw_ship['geometry.coordinates'].to_list(), columns=['latitude','longitude'])

In [58]:
ship_locations

       latitude  longitude
0    122.245600 -17.972800
1    121.288950 -19.377250
2    126.345602 -14.041495
3    122.252333 -17.985717
4    122.249640 -17.983440
..          ...        ...
300  122.213830 -17.995470
301  122.243283 -17.960683
302  115.131133 -21.648333
303  115.649433 -33.322067
304  115.731622 -32.051213

[305 rows x 2 columns]

In [62]:
rounded_locations = round(ship_locations,2)

In [63]:
rounded_locations

     latitude  longitude
0      122.25     -17.97
1      121.29     -19.38
2      126.35     -14.04
3      122.25     -17.99
4      122.25     -17.98
..        ...        ...
300    122.21     -18.00
301    122.24     -17.96
302    115.13     -21.65
303    115.65     -33.32
304    115.73     -32.05

[305 rows x 2 columns]

In [64]:
rounded_locations.to_csv("data/shipwrecks/shipwreck_locations.csv")